.navbar-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-button {
  justify-self: center;
  align-self: center;
  width: 150px;
  color: var(--text-color) !important;
  background: var(--background-color) !important;
}

.navbar-BurgerActive {
  top: 0px !important;
}

.navbar-BurgerDisabled {
  top: -64px !important;
}

.navbar-AppBar {
  color: var(--text-color) !important;
  background: var(--background-color) !important;
}